<%- include('../../fragment/header.ejs')%>
<main>
    <h2> Organisation List</h2>
    <p> No organisation records to display. No organisations??</p>
    <p><a href="/organisations/organisationsAdd" class="button-add"> Add new Organisation</a></p>
</main>
<%- include('../../fragment/footer.ejs')%>