<%- include('../../fragment/header.ejs')%>
<main>
    
    <h2> Contract List</h2>
    <p> No Contract records to display. No contracts??</p>
    <p><a href="/contracts/add" class="button-add"> Add new Contract</a></p>
</main>
<%- include('../../fragment/footer.ejs')%>