<%- include('./fragment/header.ejs')%>
<main>
    <h2> <%= __('homepage.title')%> </h2>
    <p>

        <%= __('homepage.body')%>


    </p>
</main>

<%- include('./fragment/footer.ejs')%>


