<%- include('../../fragment/header.ejs')%>
<main>
    <h2> Player list</h2>
    <p> No player records to display. No players???</p>
    <p><a href="\pages\Player\form.html" class="button-add"> Add new Player</a></p>
</main>
<%- include('../../fragment/footer.ejs')%>